Node red flow/flows.json
[
    {
        "id": "77f4ccfb.7e2b14",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5120c7ff.d8f8d8",
        "type": "http in",
        "z": "77f4ccfb.7e2b14",
        "name": "BOT REST API",
        "url": "/botchat",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "66875061.7c44d"
            ]
        ]
    },
    {
        "id": "66875061.7c44d",
        "type": "function",
        "z": "77f4ccfb.7e2b14",
        "name": "Pre Service Processing",
        "func": "\n// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "e92cb8bc.22e0c8"
            ]
        ]
    },
    {
        "id": "e92cb8bc.22e0c8",
        "type": "watson-conversation-v1",
        "z": "77f4ccfb.7e2b14",
        "name": "MY-BOT",
        "workspaceid": "399ad9e1-f0d1-42a0-9365-569523b88706",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7d6a44ec-a644-49a0-b4b1-2c51c09af9c9",
        "timeout": "",
        "optout-learning": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "4c17e4d0.0ef5ac"
            ]
        ]
    },
    {
        "id": "4c17e4d0.0ef5ac",
        "type": "function",
        "z": "77f4ccfb.7e2b14",
        "name": "Post Service Processing",
        "func": "msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "529bb52c.eafc3c"
            ]
        ]
    },
    {
        "id": "529bb52c.eafc3c",
        "type": "http response",
        "z": "77f4ccfb.7e2b14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "d2ab7769.9c5f88",
        "type": "ui_template",
        "z": "77f4ccfb.7e2b14",
        "group": "1e888e0.de7d272",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\" style=\"overflow-x: hidden;\n                \n                background-color:#2E3448;\n                min-height:80vh;\n                width:44vh;\n                position:relative;\n                border-radius:5px;\n                margin-bottom:3px;\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n      \n      <div id=id_botchathistory style=\"margin-top:5px;padding:5px;\">\n\t  </div>\n    </div>\n    <div style=\"bottom:0px;\n\t              display:flex;\n\t              width:100%;\n\t              margin-bottom:8px;\n\t              margin-top:5px;\n\t              height:32px;\">\n\t      <form>\n            <!--<label for=\"id_chattext\">Your Input: </label>-->\n            <input style=\"border:None;\n                          margin:0px;\n                          Padding:2px;\n                          background-color:white;\n                          height:30px;\n                          border-radius:3px;\n                          margin-right:5px;\n                          margin-left:22px;\n                          margin-top:2px;\n                          margin-bottom:8px;\n                          width:33vh;\n                          color:black;\" onfocus=\"this.value=''\" type=\"text\" name=\"chattext\" id=\"id_chattext\">\n\t      </form>\n\t      <button class=\"btn btn-primary\" onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div style=\"background-color:white;border-radius:3px;color:black;padding:2px;\"></div><br>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        // console.log(response);\n        // console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text[0]);\n        if(response.botresponse.messageout.output.text[0][0]==\"[\"){\n            var obj = JSON.parse(response.botresponse.messageout.output.text[0]);\n            console.log(obj);\n            var i;\n            var result = \" \";\n            for(i=0;i<obj.length;i=i+1){\n                result += obj[i].passage_text + '    ';\n            }\n            console.log(result)\n            chat('Bot',result);\n        }\n        // console.log(response.botresponse.messageout.context.webhook_result_1.passages[0].passage_text);\n        else{chat('Bot', response.botresponse.messageout.output.text); }\n        \n        // console.log(response.botresponse.messageout.output.text[0].passage_text);\n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        // console.log('checking stashed context data');\n        // console.log(\"hi\"+contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'https://node-red-iztmp.eu-gb.mybluemix.net/botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        // console.log('001-001');\n        var txt = $('#id_chattext').val();\n        // console.log(\"Hi\"+txt); txt- value given to the bot\n        chat('You', txt); \n        invokeAjax(txt);\n        // console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "74a3eb34.6aa534"
            ]
        ]
    },
    {
        "id": "8db5345c.1b2fd8",
        "type": "http in",
        "z": "77f4ccfb.7e2b14",
        "name": "UI  page",
        "url": "/ui",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "d2ab7769.9c5f88"
            ]
        ]
    },
    {
        "id": "74a3eb34.6aa534",
        "type": "http response",
        "z": "77f4ccfb.7e2b14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e888e0.de7d272",
        "type": "ui_group",
        "z": "",
        "name": "Chat Bot",
        "tab": "2a456389.998e6c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2a456389.998e6c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]